<<<<<<< HEAD
body {
  font-family: Arial, sans-serif;
}

.card {
  margin-bottom: 20px;
}
=======
body {
  font-family: Arial, sans-serif;
}

.card {
  margin-bottom: 20px;
}
>>>>>>> aeddd9b838b3e7ae83679ca61027bf60b67799fd
